---
import { Image } from "astro:assets";
import PhoneImage from "@assets/quick-bio/feature-mobile.png";
import TemplateImage from "@assets/quick-bio/feature-templates.png";
import BannerImage from "@assets/quick-bio/feature-banner.png";
import PortfolioImage from "@assets/quick-bio/feature-portfolio.png";
import SocialImage from "@assets/quick-bio/feature-social.png";
---

<!-- Masonry Cards -->
<div class="max-w-6xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-12 gap-6">
        <div
            class="sm:self-end col-span-12 sm:col-span-7 md:col-span-8 lg:col-span-5 lg:col-start-3"
        >
            <!-- Card -->
            <a
                class="group shadow relative block rounded-xl overflow-hidden"
                href="#"
            >
                <div
                    class="aspect-w-12 aspect-h-10 sm:aspect-none rounded-xl overflow-hidden"
                >
                    <Image
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
                        src={BannerImage}
                        alt="Banner Feature"
                    />
                </div>
                <div class="absolute bottom-0 left-0 right-0 p-2 sm:p-4">
                    <div
                        class="text-sm font-bold text-gray-800 bg-gray-50 rounded-lg p-4 md:text-xl dark:bg-gray-800 dark:text-gray-200"
                    >
                        Add Banner for your cause
                    </div>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div
            class="sm:self-end col-span-12 sm:col-span-5 md:col-span-4 lg:col-span-3"
        >
            <!-- Card -->
            <a
                class="group shadow relative block rounded-xl overflow-hidden"
                href="#"
            >
                <div
                    class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
                >
                    <Image
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
                        src={PhoneImage}
                        alt="Mobile Ready"
                    />
                </div>
                <div class="absolute bottom-0 left-0 right-0 p-2 sm:p-4">
                    <div
                        class="text-sm font-bold text-gray-800 rounded-lg bg-gray-50 p-4 md:text-xl dark:bg-gray-800 dark:text-gray-200"
                    >
                        Mobile Ready
                    </div>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-span-12 md:col-span-4">
            <!-- Card -->
            <a
                class="group shadow relative block rounded-xl overflow-hidden"
                href="#"
            >
                <div
                    class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
                >
                    <Image
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
                        src={PortfolioImage}
                        alt="Image Description"
                    />
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <!-- Card -->
            <a
                class="group shadow relative block rounded-xl overflow-hidden"
                href="#"
            >
                <div
                    class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
                >
                    <Image
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
                        src={TemplateImage}
                        alt="Templates feature"
                    />
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <!-- Card -->
            <a
                class="group shadow relative block rounded-xl overflow-hidden"
                href="#"
            >
                <div
                    class="aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden"
                >
                    <Image
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover"
                        src={SocialImage}
                        alt="Image Description"
                    />
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Masonry Cards -->
